* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* .noscroll {
  overflow: hidden;
}

@media (max-width: 575px) {
  * {
    font-size: 15px;
    line-height: 1.6em;
    letter-spacing: 0.05em;
  }
}

.header {
  width: 100%;
  height: 48px;
  background-color: black;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
}

.header_logo_img {
  width: 48px;
  height: 48px;
}

.header_nav {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.header_nav_container {
  width: 100%;
  height: 100%;
  background-color: #1B1310;
  z-index: 2;
}

.header_nav_list {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.header_nav_item {
  margin-right: 0;
  margin-bottom: 40px;
  color: #fff;
}

.header_nav a {
  text-decoration: none;
  color: #fff;
}

.header_burger_btn {
  margin-left: auto;
  display: block;
  width: 39px;
  height: 39px;
  position: relative;
  z-index: 3;
  border: none;
}

.header_burger_btn_bar {
  width: 20px;
  height: 1px;
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
}

.header_burger_btn .bar_top {
  top: 10px;
}

.header_burger_btn .bar_mid {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header_burger_btn .bar_bottom {
  bottom: 10px;
}

.header .close .bar_top {
  -webkit-transform: translate(-50%, 10px) rotate(45deg);
          transform: translate(-50%, 10px) rotate(45deg);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.header .close .bar_mid {
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.header .close .bar_bottom {
  -webkit-transform: translate(-50%, -8px) rotate(-45deg);
          transform: translate(-50%, -8px) rotate(-45deg);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.slide img {
  height: calc(100vh - 48px);
}

.main {
  margin: 0 16px 0 16px;
}

.main_team_prelusion_title {
  margin-top: 8px;
  font-size: 2rem;
  text-align: center;
}

.main_team_prelusion_introduction {
  margin-top: 8px;
}

.main_team_prelusion_introduction .explanation {
  text-align: justify;
}

.main_team_prelusion_coach {
  margin: 32px auto;
}

.main_team_prelusion_coach .coach_img_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_team_prelusion_coach .coach_img {
  width: 240px;
  height: 240px;
  margin: 0 auto;
  background-color: black;
  border-radius: 50%;
}

.main_team_prelusion_coach .coach_name {
  margin-top: 16px;
  text-align: center;
}

.main_team_prelusion_coach .coach_speech {
  margin-top: 8px;
  text-align: justify;
}

.main_parents {
  margin-top: 32px;
}

.main_parents .title {
  text-align: center;
  font-size: 2rem;
}

.main_parents .parent_name {
  text-align: center;
  margin: 16px 0 16px 0;
}

.main_parents .parent_comment {
  text-align: justify;
}

.main_notice {
  margin: 32px auto;
}

.main_notice .title {
  text-align: center;
  font-size: 2rem;
}

.main_cntact {
  margin: 32px auto;
  text-align: center;
  display: block;
}

.main_cntact .title {
  font-size: 30px;
}

.main_cntact .contact_items {
  padding-left: 0;
  list-style: none;
  display: inline-block;
}

.main_cntact .contact_item {
  text-align: left;
}

.main_cntact .contact_link {
  font-size: 23px;
}
