@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  letter-spacing: 0.05em;
}

* .noscroll {
  overflow: hidden;
}

body {
  background-color: #e4e4de;
}

.header {
  width: 100%;
  height: 48px;
  background-color: black;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
}

.header_logo_img {
  width: 48px;
  height: 48px;
}

.header_nav {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

@media (min-width: 1024px) {
  .header_nav {
    display: none;
  }
}

.header_nav_container {
  width: 100%;
  height: 100%;
  background-color: #1B1310;
  z-index: 2;
}

.header_nav_list {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.header_nav_item {
  margin-right: 0;
  margin-bottom: 40px;
  color: #fff;
}

.header_nav a {
  text-decoration: none;
  color: #fff;
}

.header_burger_btn {
  margin-left: auto;
  display: block;
  width: 39px;
  height: 39px;
  position: relative;
  z-index: 3;
  border: none;
}

@media (min-width: 1024px) {
  .header_burger_btn {
    display: none;
  }
}

.header_burger_btn_bar {
  width: 20px;
  height: 1px;
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
}

.header_burger_btn .bar_top {
  top: 10px;
}

.header_burger_btn .bar_mid {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header_burger_btn .bar_bottom {
  bottom: 10px;
}

.header .close .bar_top {
  -webkit-transform: translate(-50%, 10px) rotate(45deg);
          transform: translate(-50%, 10px) rotate(45deg);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.header .close .bar_mid {
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.header .close .bar_bottom {
  -webkit-transform: translate(-50%, -8px) rotate(-45deg);
          transform: translate(-50%, -8px) rotate(-45deg);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.header_pc_nav {
  display: none;
}

@media (min-width: 1024px) {
  .header_pc_nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

.header_pc_nav_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_pc_nav_item {
  margin-right: 16px;
  list-style: none;
}

.header_pc_nav a {
  text-decoration: none;
  color: #fff;
}

@media (min-width: 768px) {
  .slide {
    margin: 0 auto;
    width: 90%;
  }
}

.slide .sp_tab_img {
  height: 300px;
}

@media (min-width: 1024px) {
  .slide .sp_tab_img {
    display: none;
  }
}

main .main {
  margin: 16px 16px 0 16px;
  padding: 8px 8px 0 8px;
  background-color: #ffffff;
  border-radius: 9px;
}

@media (min-width: 768px) {
  main .main {
    width: 90%;
    margin: 16px auto;
    padding: 16px 16px 0 16px;
  }
}

@media (min-width: 1024px) {
  main .main {
    width: 80%;
  }
}

main .main_team_prelusion_title {
  padding-top: 8px;
  font-size: 2rem;
  text-align: center;
}

main .main_team_prelusion_introduction {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 8px auto 0 auto;
}

main .main_team_prelusion_introduction .pc_img {
  display: none;
}

@media (min-width: 1024px) {
  main .main_team_prelusion_introduction .pc_img {
    display: block;
    width: 400px;
    margin: auto  16px auto auto;
  }
}

main .main_team_prelusion_introduction .explanation {
  text-align: justify;
}

main .main_team_prelusion_introduction .explanation:nth-child(n + 1) {
  margin-top: 8px;
}

@media (min-width: 768px) {
  main .main_team_prelusion_coach {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  main .main_team_prelusion_coach {
    width: 90%;
    margin: auto;
  }
}

main .main_team_prelusion_coach_introduction {
  width: 90%;
  margin: 32px auto;
}

@media (min-width: 768px) {
  main .main_team_prelusion_coach_introduction {
    width: 320px;
    margin-top: 40px;
  }
}

main .main_team_prelusion_coach_introduction .coach_img_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .main_team_prelusion_coach_introduction .coach_img {
  width: 100%;
  height: 320px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  main .main_team_prelusion_coach_introduction .coach_img {
    width: 100%;
  }
}

main .main_team_prelusion_coach_introduction .coach_name {
  margin-top: 24px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-family: system-ui;
}

main .main_team_prelusion_coach_introduction .coach_speech {
  margin-top: 8px;
  text-align: justify;
}

main .main_team_prelusion_coach_introduction .coach_speech:nth-child(n+1) {
  margin-top: 8px;
}

main .main_team_record {
  width: 90%;
  margin: 64px auto auto auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  main .main_team_record {
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  main .main_team_record {
    width: 90%;
    margin: 0 auto;
  }
}

main .main_team_record .title {
  text-align: center;
  margin: 16px;
}

main .main_team_record td {
  padding: 8px;
}

main .main_parents {
  margin-top: 64px;
}

main .main_parents .parent {
  border-radius: 8px;
}

main .main_parents .parent_green {
  background-color: #ddf1d3;
}

@media (min-width: 768px) {
  main .main_parents .parent_green {
    background-color: #ffffff;
  }
}

@media (min-width: 1024px) {
  main .main_parents .parent_green {
    background-color: #ffffff;
  }
}

main .main_parents .parent_mm {
  background-color: #fff1cf;
}

@media (min-width: 768px) {
  main .main_parents .parent_mm {
    background-color: #ffffff;
  }
}

@media (min-width: 1024px) {
  main .main_parents .parent_mm {
    background-color: #ffffff;
  }
}

main .main_parents .parent_blue {
  background-color: #ebf3fb;
}

@media (min-width: 768px) {
  main .main_parents .parent_blue {
    background-color: #ffffff;
  }
}

@media (min-width: 1024px) {
  main .main_parents .parent_blue {
    background-color: #ffffff;
  }
}

main .main_parents .title {
  text-align: center;
  font-size: 2rem;
}

main .main_parents .parent_name {
  text-align: center;
  margin: 24px 0 16px 0;
  padding-top: 8px;
}

@media (min-width: 768px) {
  main .main_parents .parent_name {
    margin: 48px 0 32px 0;
    text-align: left;
    display: inline-block;
  }
}

@media (min-width: 768px) {
  main .main_parents .parent_name_green {
    border-bottom: solid 2px #87c10e;
  }
}

@media (min-width: 768px) {
  main .main_parents .parent_name_mm {
    border-bottom: solid 2px #fbdd95;
  }
}

@media (min-width: 768px) {
  main .main_parents .parent_name_blue {
    border-bottom: solid 2px #3fbcd0;
  }
}

@media (min-width: 768px) {
  main .main_parents .parent_comment_green {
    width: 90%;
    margin: 0 auto;
    background-color: #f9f7e9;
    /*背景色*/
    border-left: solid 10px #87c10e;
    /*左ライン*/
    color: #000000;
    /*文字色*/
    padding: 8px 16px 8px 16px;
  }
}

@media (min-width: 768px) {
  main .main_parents .parent_comment_mm {
    width: 90%;
    margin: 0 auto;
    background-color: #fffef3;
    /*背景色*/
    border-left: solid 10px #fbdd95;
    /*左ライン*/
    color: #000000;
    /*文字色*/
    padding: 8px 16px 8px 16px;
  }
}

@media (min-width: 768px) {
  main .main_parents .parent_comment_blue {
    width: 90%;
    margin: 0 auto;
    background-color: #f6faee;
    /*背景色*/
    border-left: solid 10px #3fbcd0;
    /*左ライン*/
    color: #000000;
    /*文字色*/
    padding: 8px 16px 8px 16px;
  }
}

main .main_parents .parent_comment {
  width: 90%;
  margin: 8px auto;
  text-align: justify;
}

main .main_notice {
  margin: 64px auto;
}

@media (min-width: 768px) {
  main .main_notice {
    width: 90%;
  }
}

@media (min-width: 1024px) {
  main .main_notice {
    width: 90%;
  }
}

main .main_notice .title {
  text-align: center;
  font-size: 2rem;
}

main .main_notice .calendar {
  width: 100%;
  height: 560px;
}

@media (min-width: 768px) {
  main .main_notice .calendar {
    height: 700px;
  }
}

main .main_cntact {
  margin: 32px 0 32px auto;
  text-align: center;
  display: block;
}

main .main_cntact .title {
  font-size: 30px;
}

main .main_cntact .contact_items {
  padding-left: 0;
  list-style: none;
  display: inline-block;
}

main .main_cntact .contact_item {
  text-align: left;
}

main .main_cntact .contact_item:nth-child(n + 1) {
  margin-top: 8px;
}

main .main_cntact .contact_link {
  text-decoration: none;
  font-size: 16px;
  color: #000;
}

main .main_cntact .fa-twitter-square {
  color: #1DA1F2;
}

main .main_cntact .fa-instagram {
  color: #4c6f64;
}

main .main_cntact .fa-line {
  color: green;
}
