@import "variables";

.header {
    width: 100%;
    height: 48px;
    background-color: black;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;

    &_logo {

        &_img {
            width: 48px;
            height: 48px;
        }

    }

    &_nav{
        display: none;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;



        @include pc {
            display: none;
        }

        &_container{
            width: 100%;
            height: 100%;
            background-color:#1B1310;
            z-index: 2;
        }

        &_list {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
        }

        &_item {
            margin-right: 0;
            margin-bottom: 40px;
            color: #fff;
        }

        a {
            text-decoration: none;
            color: #fff;
        }

    }


    &_burger_btn{
        margin-left: auto;
        display: block;
        width: 39px;
        height: 39px;
        position: relative;
        z-index: 3;
        border:none;

        @include pc {
            display: none;
        }

        &_bar{
            width: 20px;
            height: 1px;
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            background-color: #fff;
        }

        & .bar_top{
            top: 10px;
        }

        & .bar_mid{
            top: 50%;
            transform: translate(-50%,-50%);
        }

        & .bar_bottom{
            bottom: 10px;
        }

    }

    .close .bar_top{
        transform: translate(-50%,10px) rotate(45deg);
        transition: transform .3s;
    }

    .close .bar_mid{
        opacity: 0;
        transition: opacity .3s;
    }

    .close .bar_bottom{
        transform: translate(-50%,-8px) rotate(-45deg);
        transition: transform .3s;
    }

    &_pc_nav {
        display: none;
        @include pc {
            display: flex;
            margin-left: auto;
        }

        &_list {
            display: flex;
            align-items: center;
        }

        &_item {
            margin-right: 16px;
            list-style: none;
        }

        a {
            text-decoration: none;
            color: #fff;
        }

    }

}

.slide {

        @include tab {
            margin: 0 auto;
            width: 100%;
        }

        @include pc {
            width: 90%;
        }


    .sp_tab_img {

        height: calc(100vh - 48px);
        width: 100vw;

        @include tab {
            height: calc(80vh - 48px);
        }

        @include pc {
            display: none;
        }

    }

}
