@import "variables";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    .noscroll {
        overflow: hidden;
    }

    @include sp {
        font-size: 15px;
        line-height: 1.6em;
        letter-spacing: 0.05em;
        // background-color: #eff0f3;
    }

}
