@import 'reset';
@import 'common';
@import 'variables';

main {

    .main {

        margin: 16px 16px 16px 16px;
        padding: 8px 8px 0 8px;
        background-color: #ffffff;
        border-radius: 9px;

        @include tab {
            width: 90%;
            margin: 16px auto 16px auto;
            padding: 16px 16px 0 16px;
        }

        @include pc {
            width: 80%;
            margin: 16px auto 16px auto;
        }


        &_team_prelusion {

            &_title {
                padding-top: 8px;
                font-size: 2rem;
                text-align: center;
            }

            &_introduction{
                width: 90%;
                margin: 8px auto 0 auto;

                @include pc {
                    display: flex;
                }


                .pc_img {
                    display: none;

                    @include tab {
                        display: block;
                        width:400px;
                        margin: 0 auto;
                    }
                    @include pc {
                        display: block;
                        width:400px;
                        margin: auto  16px auto auto;
                    }
                }

                .explanation {
                    text-align: justify;

                    &:nth-child(n + 1) {
                        margin-top: 8px;
                    }
                }
            }

            &_coach{

                @include tab {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }


                @include pc {
                    width: 90%;
                    margin: auto;
                }

                &_introduction {

                    width: 90%;
                    margin: 32px auto;

                    @include tab {
                        width: 320px;
                        margin-top: 40px;
                    }

                    .coach_img_container {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }

                    .coach_img {

                        width: 100%;
                        height: 320px;
                        margin: 0 auto;

                        @include tab {
                            width: 100%;
                        }

                    }

                    .coach_name {
                        margin-top: 24px;
                        text-align: center;
                        font-size: 24px;
                        font-weight: bold;
                        font-family: system-ui;
                    }

                    .coach_speech {
                        margin-top: 8px;
                        text-align: justify;
                        &:nth-child(n+1) {
                            margin-top: 8px;
                        }
                    }

                }

            }

        }
        // チーム紹介終わり

        // 活動記録
       &_team_record {
            width: 90%;
            margin: 72px auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            @include tab {
                width: 90%;
                margin: 0 auto;
            }

            @include pc {
                width: 90%;
                margin: 0 auto;
            }

            .title {
                margin: 24px;
                font-size: 24px;
            }

            td {
                padding: 8px;
            }

        }

        //活動記録終了


        // 保護者の声
        &_parents {

            margin-top: 64px;

            .title {
                text-align: center;
                font-size: 2rem;
            }

            .parent {
                margin-top: 16px;
                padding: 8px 8px ;
                border-radius: 8px;
            }

            .parent_green {
                background-color:#ddf1d3;
                border-radius: 8px;
                @include tab {
                    background-color: #ffffff;
                }
                @include pc {
                    background-color: #ffffff;
                }
            }

            .parent_mm {
                background-color: #fff1cf;
                @include tab {
                    background-color: #ffffff;
                }
                @include pc {
                    background-color: #ffffff;
                }
            }



            .parent_name {

                text-align: center;
                margin: 16px 0 16px 0;
                padding-top: 8px;

                @include tab {
                    margin: 48px 0 32px 0;
                    text-align: left;
                    display: inline-block;
                }

            }

            .parent_name_green {

                @include tab {
                    border-bottom: solid 2px#87c10e;
                }

            }

            .parent_name_mm {

                @include tab{
                    border-bottom: solid 2px#fbdd95;
                }

            }

            .parent_comment {
                width: 90%;
                margin: 8px auto;
                text-align: justify;
            }

            .parent_comment_green {

                @include tab {
                    width: 90%;
                    margin: 0 auto;
                    background-color: #f9f7e9;;/*背景色*/
                    border-left: solid 10px #87c10e;/*左ライン*/
                    color:#000000;/*文字色*/
                    padding: 8px 16px 8px 16px;
                }

            }

            .parent_comment_mm {

                @include tab {
                    width: 90%;
                    margin: 0 auto;
                    background-color:#fffef3;/*背景色*/
                    border-left: solid 10px#fbdd95;/*左ライン*/
                    color:#000000;/*文字色*/
                    padding: 8px 16px 8px 16px;
                }

            }


        }
        // 保護者の声終わり

        // obの思い出

        &_ob {

            margin-top: 64px;


            .title {
                text-align: center;
                font-size: 2rem;
            }

            .ob_container {
                margin-top: 16px;
                padding: 8px 8px;
                background-color: #f9dbdb;
                border-radius: 8px;

                @include tab {
                    background-color: #ffffff;
                }
            }

            .ob_name {

                text-align: center;
                margin: 8px 0 16px 0;
                padding-top: 8px;

                @include tab {
                    margin: 48px 0 32px 0;
                    text-align: left;
                    display: inline-block;
                    border-bottom: solid 2px #f54242;
                }
            }

            .ob_comment_container {

                @include tab {
                    width: 90%;
                    margin: 0 auto;
                    padding: 8px 16px 8px 16px;
                    background-color: #fff3f1;
                    border-left: solid 10px #f54242;
                }

            }

            .ob_comment {
                width: 90%;
                margin: 8px auto;
                text-align: justify;
            }

        }

        //obの思い出声終わり

        // お知らせ
        &_plans {

            margin: 64px auto;

            @include tab {
                width: 90%;
            }

            @include pc {
                width: 90%;
            }

            .title {
                text-align: center;
                font-size: 2rem;
            }

            .calendar {
                width: 100%;
                height: 560px;

                @include tab {
                    height: 700px;
                }
            }

        }
        // お知らせ終わり

        &_notice {

            margin: 0 auto;

            @include tab {
                width: 80%;
            }
    
            @include pc {
                width: 80%;
            }

            .title {
                padding-top: 8px;
                font-size: 2rem;
                text-align: center;
            }

            .osirase_jpeg {
                width: 100%;
            }
        }

        &_cntact {

            margin: 32px auto 0 auto;
            text-align: center;
            display: block;

            .title {
                font-size: 30px;
            }

            .contact_items {
                padding-left: 0;
                list-style: none;
                display: inline-block;
            }

            .contact_item {
                text-align: left;
                &:nth-child(n + 1) {
                    margin-top: 8px;
                }
            }


            .contact_link {
                text-decoration: none;
                font-size: 16px;
                color: #000;
            }

            .fa-twitter-square {
                color:#1DA1F2;
            }

            .fa-instagram {
                color: rgb(76, 111, 100);
            }

            .fa-line {
                color: green;
            }


        }

    }

}
